body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: rgb(68, 99, 147);
}

.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(178, 223, 255);
}

.nav {
    background-color: rgba(45, 68, 101, 0.5);
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.content {
    color: rgb(178, 223, 255);
    background-color: rgba(45, 68, 101, 0.5);
} 


a:visited {
    color:aliceblue
}

a:link {
    color:azure
}
