html, body {
  height: 100%;
  margin: 0;
}

body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
}

.background {
    background: rgb(68, 99, 147) url("/static/images/background_4K.jpg") center/cover no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 1;
    color: rgb(178, 223, 255);
}

.nav {
    background-color: rgba(45, 68, 101, 1);
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.blurb {
  text-align: center;
  line-height: 150%;
  font-size: 1.2em;
}

.content {
    color: rgb(178, 223, 255);
    background-color: rgba(45, 68, 101, 0.75);
} 


a:visited {
    color:aliceblue
}

a:link {
    color:azure
}

.button {
display: inline-block;
padding: 3px 20px;
background-color: rgb(124, 124, 124);
border: 1px solid rgb(207, 207, 207);
color: rgb(0, 0, 0) !important;
border-radius: 5px;
text-decoration: none;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
cursor: pointer;

}

input[type="submit"] {
display: inline-block;
padding: 3px 20px;
background-color: rgb(124, 124, 124);
border: 1px solid rgb(207, 207, 207);
border-radius: 5px;
text-decoration: none;
font-size: 14px;
cursor: pointer;
}

img {
  width: 320px;
  height: auto;
}