<!DOCTYPE html>
<html>
    <head>
    <title>Add new spot</title>
    </head>
    
    <body>
        <h1>Add new spot</h1>
        <form action="/add_spot" method="post">
            <p>
                Spot title:
            <input type="text" name="title" maxlength="100" required/>
            </p>
            <p>
                Area:
            <input type="text" name="area" maxlength="100" />
            </p>
            <p>
                Country:
            <input type="text" name="country" maxlength="100" required/>
            </p>
            <p>
                Slope aspect:
            <input type="text" name="aspect" maxlength="10" />
            </p>
            <p>
                Skill level:
            <input type="text" name="skill_level" maxlength="20" />
            </p>
            <p>
                Slope maximum incline:
            <input type="text" name="max_incline" maxlength="3" />
            </p>
            <p>
                Notes:
            <textarea name="notes" rows="10" cols="100" maxlength="5000"></textarea>
            </p>
            <p>
            <input type="submit" name="submit" value="Submit" />
            <input type="Submit" name="cancel" value="Cancel" />
            </p>
        </form>
    </body>
</html>