<!DOCTYPE html>
<html>
    <head>
    <title>Add new spot</title>
    </head>
    
    <body>
        <h1>Add new spot</h1>
        <form action="/add_spot" method="post">
            <p>
                Spot title:
            <input type="text" name="title" maxlength="100" required/>
            </p>
            <p>
                Continent:
            <select name="continent" required>
                {% for continent in categories.continents %}
                <option value="{{ continent[0] }}">{{ continent[1] }}</option>
                {% endfor %}
            </select>
            </p>
            <p>
                Country:
            <select name="country" required>
                {% for country in categories.countries %}
                <option value="{{ country[0] }}">{{ country[1] }}</option>
                {% endfor %}
            </select>
            </p>
            <p>
                Slope aspect:
            <input type="text" name="aspect" maxlength="10" />
            </p>
            <p>
                Skill level:
            <select name="skill_level">
                {% for skill_level in categories.skill_levels %}
                <option value="{{ skill_level[0]}}">{{ skill_level[1] }}</option>
                {% endfor %}
            </select>
            </p>
            <p>
                Slope maximum incline:
            <input type="text" name="max_incline" maxlength="3" />
            </p>
            <p>
                Notes:
            <textarea name="notes" rows="10" cols="100" maxlength="5000"></textarea>
            </p>
            <p>
            <input type="submit" name="submit" value="Submit" />
            <input type="Submit" name="cancel" value="Cancel" />
            </p>
        </form>
    </body>
</html>