<!DOCTYPE html>
<html>
    <head>
    <title>Add new spot</title>
    </head>
    
    <body>
        <h1>Add new spot</h1>
        <form action="/add_spot" method="post">
            <p>
                Spot title:
            <input type="text" name="title">
            </p>
            <p>
                Area:
            <input type="text" name="area">
            </p>
            <p>
                Country:
            <input type="text" name="country">
            </p>
            <p>
                Slope aspect:
            <input type="text" name="aspect">
            </p>
            <p>
                Skill level:
            <input type="text" name="skill_level">
            </p>
            <p>
                Slope maximum incline:
            <input type="text" name="max_incline">
            </p>
            <p>
                Notes:
            <input type="text" name="notes">
            </p>
            <p>
            <input type="submit" value="Submit">
            </p>
        </form>
    </body>
</html>