<!DOCTYPE html>
<html>
    <head>
        <title>Spots</title>
    </head>

    <body>
        <h1>Browse spots</h1>
        <hr />
        <a href="/home">Back to front page</a>
        <a href="/add_spot">Add new spot</a>
        <hr />
        {% for spot in spot_list|sort (attribute='id', reverse=True) %}
        <p>
        <h2><a href="/spot/{{ spot.id }}">{{ spot.title }}</a></h2>
        {% if spot.user_id == session.user_id %}
            <a href="/edit_spot/{{ spot.id }}">Edit spot</a>
            <a href="/remove_spot/{{ spot.id }}">Remove spot</a>
        {% endif %}
        </p>
        <p>
        {{ spot.area }}
        </p>
        <p>
        {{ spot.country }}
        </p>
        <p>
        {{ spot.max_incline }}
        </p>
        <p>
        {{ spot.skill_level }}
        </p>
        <p>
        {{ spot.aspect }}
        </p>
        <p>
        {% for line in spot.notes.splitlines() %}
        {{ line }}<br>
        {% endfor %}
        </p>
        <p>
        Added by: {{ spot.username }}
        </p>
        <p>
        Added at: {{ spot.added_at }}
        </p>
        <hr />
        {% endfor %}
        <a href="/home">Back to front page</a>
    </body>
</html>