<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">

    <head>
        {% block title %}Users{% endblock %}
    </head>

    <body>
        <div class="header">
        <h1>Browse users</h1>
        </div>

        <hr />
        <a href="/home">Back to front page</a>
        <a href="/user/{{ session.user_id }}">Own user page</a>
        <hr />
        <div class="content">
        {% for user in user_list|sort (attribute='username') %}
        <p>
        <h2><a href="/user/{{ user.id }}">{{ user.username }}</a></h2> Member since {{ user.added_at }}
        </p>
        {% endfor %}
        <hr />
        <p>
        <a href="/browse_users/{{ page - 1 }}">&lt;&lt;</a>
        Page {{ page }}/{{ page_count }}
        <a href="/browse_users/{{ page + 1 }}">&gt;&gt;</a>
        </p>
        <hr />
        <a href="/home">Back to front page</a>
        </div>
    </body>
</html>