{% extends "layout.html" %}

{% block title %}Spots{% endblock %}

{% block content %}

<h1>Browse spots</h1>

<form method="GET" action="/browse" class="filter-bar">
    <label for="continent">Continent:</label>
    <select name="continent" id="continent" {% if request.args.get("continent") %}disabled{% endif %}>
        <option value="" id="all">All</option>
        {% for continent in categories.continents %}
        <option value="{{ continent[1] }}" {% if request.args.get("continent") == continent[1] %}selected{% endif %}>{{ continent[1] }}</option>
        {% endfor %}
    </select>

    {% if request.args.get("continent") %}
    <input type="hidden" name="continent" value="{{ request.args.get('continent') }}">

    <label for="country">country:</label>
    <select name="country" id="country">
        <option value="">All</option>
        {% for country in categories.countries %}
        <option value="{{ country[1] }}" {% if request.args.get("country") == country[1] %}selected{% endif %}>{{ country[1] }}</option>
        {% endfor %}
    </select>
    {% endif %}

    <label for="skill_level">Skill level:</label>
    <select name="skill_level" id="skill_level">
        <option value="">All</option>
        {% for skill_level in categories.skill_levels %}
        <option value="{{ skill_level[1] }}" {% if request.args.get("skill_level") == skill_level[1] %}selected{% endif %}>{{ skill_level[1] }}</option>
        {% endfor %}
    </select>
    <input type="submit" class="button" value="Filter" />
    <a href="/browse" class="button">Clear</a>
</form>

<div class="content">

    {% for spot in spot_list %}
        <p>
            {{ spot.continent }} | {{ spot.country }}
        </p>
        <h2><a href="/spot/{{ spot.id }}">{{ spot.title }}</a></h2>
        {% if spot.user_id == session.user_id %}
            <a href="/edit_spot/{{ spot.id }}">Edit spot</a>
            <a href="/remove_spot/{{ spot.id }}">Remove spot</a>
        {% endif %}
        </p>
        <p>
            <b>Skill level:</b> {{ spot.skill_level }}
        </p>
        <p>
            <b>Maximum incline:</b> {{ spot.max_incline }}
        </p>
        <p>
            <b>Aspect:</b> {{ spot.aspect }}
        </p>
        <p>
            <b>Notes:</b>
            {% for line in spot.notes.splitlines() %}
                {{ line }}<br>
            {% endfor %}
        </p>
        <p>
            <b>Added {{ spot.added_at[:10] }} by:</b> <a href="/user/{{ spot.user_id }}">{{ spot.username }}</a> | {{spot.message_count}} comments
        <br>
        </p>
        <hr />
    {% endfor %}
    <p>
    {% if page > 1 %}
        <a href="{{ url_for('browse', page = page-1, continent=selected_continent, country=selected_country, skill_level=selected_skill_level) }}">&lt;&lt;</a>
    {% endif %}
    Page {{ page }}/{{ page_count }}
    {% if page < page_count %}
        <a href="{{ url_for('browse', page = page+1, continent=selected_continent, country=selected_country, skill_level=selected_skill_level) }}">&gt;&gt;</a>
    {% endif %}
    </p>
</div>
{% endblock %}