{% extends "layout.html" %}

{% block title %}Edit spot{% endblock %}

{% block content %}
    <h1>Edit spot {{ spot.title }}</h1>
    <div class="content">
    {% if spot.has_image %}
    <img src="/image/{{ spot.id }}" />
    {% endif %}
    <div class="info">    
    {% for message in get_flashed_messages() %}
    <b>{{ message }}</b>
    {% endfor %}
</div>
    <p>
    Upload new image:
    <form action="/add_image" method="post" enctype="multipart/form-data">
        <input type="hidden" name="spot_id" value="{{ spot.id }}" />
        <input type="file" name="image" accept=".jpg" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="upload" value="Submit" />
    </form>
    </p>

    <form action="/edit_spot/{{ spot.id }}" method="post">
        <p>
            <label for="title">Spot title</label>: <br />
        <input type="text" name="title" value="{{ spot.title }}" maxlength="100" required />
        </p>
        <p>
            <label for="country">Country</label>: <br />
            <select name="country" required>
                {% for continent in categories.continents %}
                <optgroup label="{{ continent[1] }}">
                    {% for country in categories.countries %}
                        {% if country[2] == continent[0] %}
                            <option value="{{ country[0] }}" {% if country[0] == spot.country_id %}selected{% endif %}>
                            {{ country [1] }}    
                        {% endif %}
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="aspect">Slope aspect</label>: <br />
        <select name="aspect">
            {% for aspect in aspects %}
            <option value="{{ spot.aspect }}" {% if aspect == spot.aspect %}selected{% endif %}>
            {{ aspect }}
            </option>
            {% endfor %}
        </select>
        </p>
        <p>
            <label for="skill_level">Skill level</label>: <br />
        <select name="skill_level">
            {% for skill_level in categories.skill_levels %}
            <option value="{{ skill_level[0] }}" {% if skill_level[0] == spot.skill_level_id %}selected{% endif %}>
            {{ skill_level[1] }}</option>
            {% endfor %}
        </select>
        </p>
        <p>
            <label for="incline">Slope maximum incline</label>: <br />
        <input type="text" name="max_incline" value="{{ spot.max_incline }}" maxlength="3" size="4" />
        </p>
        <p>
            <label for="notes">Notes</label>: <br />
        <textarea name="notes" rows="15" cols="88" maxlength="5000">{{ spot.notes }}</textarea>
        </p>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

        <input type="submit" name="update" value="Update" />
        <a href="/spot/{{ spot.id }}" class="button">Cancel</a>
        </p>
    </form>
    </div>
{% endblock %}