{% extends "layout.html" %}

{% block title %}Powderatlas front page{% endblock %}

{% block content %}
<h1 style="text-align: center;">Powderatlas front page</h1>
<div class="content">
    <div class="blurb">
<p>
    Welcome to the crew {{ username }}. This is the spot for riders who live for the lines less traveled.<br>
    Drop your favorite freeride zones, scope what others are shredding, and keep the stoke alive.
    Whether it’s hidden pow stashes or sketchy chutes, share the goods and find your next send. <br>
</p>
<p>
    <b>Ride hard, share harder &ndash; share the stoke!</b>
</p>
</div>
<p>
    
</p>
<h2>Recent activity:</h2>
<h3>Latest spots</h3>
<ul>
    {% for spot in latest_spots %}
    <li>
        <p>
        <a href="/spot/{{ spot.id }}">{{ spot.title}}</a> | {{ spot.continent }} | {{ spot.country}} | {{ spot.skill_level }}
        </p>
    </li>
    {% endfor %}
</ul>
<hr />
<h3>Latest messages</h3>
<ul>
    {% for message in latest_messages %}
    <li><a href="/spot/{{ message.spot_id }}">{{ message.spot_title }}</a> | <small>{{ message.username }} wrote on {{ message.sent_at }}</small>
        <p>{% if message.content | length > 200 %}
            {{ message.content[:200] }}...
            {% else %}
            {{ message.content }}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>

</div>
{% endblock %}