<!DOCTYPE html>
<html>

<head>
  <title>Log in to Powderatlas</title>
</head>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
  <h1>Please log in or register a new user</h1>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="20" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" maxlength="20" required />
    </p>
    <input type="submit" value="Login" />
  </form>

  <a href="/register">Register a new user</a>
</body>

</html>