<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">

<head>
  <title>Log in to Powderatlas</title>
</head>

<body>
  <h1>Please log in or register a new user</h1>

  {% for message in get_flashed_messages() %}
    <b>{{ message }}</b>
  {% endfor %}
  
  <form action="/login" method="post">
    <p>
      <label for="username">Username</label>: <br />
      <input type="text" name="username" maxlength="20" required />
    </p>
    <p>
      <label for="password">Password</label>: <br />
      <input type="password" name="password" maxlength="20" required />
    </p>
    <input type="submit" value="Login" />
  </form>
  <br />
  <a href="/register">Register a new user</a>
</body>

</html>