<!DOCTYPE html>

<html>
    <head>
        <title>Register a new user</title>
    </head>

    <body>
        <form action="/register" method="post">
            <p>
                Username: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Password: <br />
                <input type="password" name="password1" />
            </p>
            <p>
                Repeat password: <br />
                <input type="password" name="password2" />
            </p>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>