<!DOCTYPE html>

<html>
    <head>
        <title>Register a new user</title>
    </head>

    <h1>Register a new user</h1>

    {% for message in get_flashed_messages() %}
        <b>{{ message }}</b>
    {% endfor %}
    
    <body>
        <form action="/register" method="post">
            <p>
                Username: <br />
                <input type="text" name="username" value="{{ filled.username }}" maxlength="20" required/>
            </p>
            <p>
                Password: <br />
                <input type="password" name="password1" maxlength="20" required/>
            </p>
            <p>
                Repeat password: <br />
                <input type="password" name="password2" maxlength="20" required/>
            </p>
            <input type="submit" value="Submit" />
        </form>
        <p>
            <a href="/">Back to login</a>
        </p>
    </body>
</html>