<!DOCTYPE html>
<html>
    <head>
        <title>Remove Message</title>
    </head>

    <body>
        <p>
            Are you sure you want to remove this message?
        </p>
        <p>
            {{ message.content }}
        </p>
        <form action="/remove_message/{{ message.id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" name="yes" value="Yes" />
            <input type="submit" name="cancel" value="Cancel" />
        </form>
    </body>
</html>