{% extends "layout.html" %}

{% block title %}Search spots{% endblock %}

{% block content %}
<h1>Search spots</h1>
<div class="content">
    <div class="info">
    {% for message in get_flashed_messages() %}
        <b>{{ message }}</b>
    {% endfor %}
</div>

<p>
<form action="/search" method="get">
<p>
    Search:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" maxlength="100" required/>
    {% else %}
    <input type="text" name="query" maxlength="100" required/>
    {% endif %}
</p>
<input type="submit" value="Search" />
</form>
</p>
    {% if results|length > 0 %}
    <hr />
    <h2>Results (Newest first)</h2>
    <ul>
    {% for result in results %}
    <li>
    <a href="/spot/{{ result.id }}">{{ result.title }}</a> | {{ result.continent }} | {{ result.country }}
    <br />
    <p>
    {{ result.notes }}
    </p>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
