<!DOCTYPE html>
<html>
    <head>
        <title>Spot search</title>
    </head>
    <body>
    <p>
    <form action="/search" method="get">
    <p>
        Search:
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
    </p>
    <input type="submit" value="Search" />
    </form>
    </p>
        {% if query %}
        <hr />
        <h2>Results</h2>
        <ul>
        {% for result in results %}
        <li>
        <a href="/spot/{{ result.id }}">{{ result.title }}</a>
        <br />
        {{ result.notes }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    <a href="/home">Back to front page</a>
    </body>
</html>
