<!DOCTYPE html>
<html>
    <head>
        <title>{{ spot.title }}</title>
    </head>

    <body>
        <h1>{{ spot.title }}</h1>
        <hr />
        <a href="/browse">Back to browse</a>
        <a href="/home">Back to front page</a>
        {% if spot.user_id == session.user_id %}
            <a href="/edit_spot/{{ spot.id }}">Edit spot</a>
            <a href="/remove_spot/{{ spot.id }}">Remove spot</a>
        {% endif %}
        <hr />
        <p> 
        Added by user: {{ spot.username }}
        </p>
        <p>
        Area: {{ spot.area }}
        </p>
        <p>
        Country: {{ spot.country }}
        </p>
        <p>
        Incline: {{ spot.max_incline }}
        </p>
        <p>
        Skill-level: {{ spot.skill_level }}
        </p>
        <p>
        Aspect: {{ spot.aspect }}
        </p>
        <p>
        Notes: {{ spot.notes }}
        </p>
        <hr />
        {% for message in messages %}
        <p>
            {{ message.username }} sent at: {{ message.sent_at }}
        </p>
        <p>
            {{ message.content }}
        </p>
        {% endfor %}

        <form action="/spot/{{ spot.id }}" method="post">
            <input type="text" name="content" />
            <input type="submit" name="submit" />
        </form>
        </body>
</html>