{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}
<h1>User {{ user.username }}</h1>
<div class="content">
Member since {{ user.added_at }}
<p>
    <h3>{{ user_spot_list | length }} Spots posted by user:</h3>
    <ul>
    {% for spot in user_spot_list %}
    {% if spot.user_id == user.id %}
    <p>
        <li><a href="../spot/{{ spot.id }}">{{ spot.title }}</a> | {{ spot.continent_name }} | {{ spot.country_name }}</li>
    <hr />
    {% endif %}
    {% endfor %}
    </ul>
</p>
<br>
<p>
    <h3>{{ user_message_list | length }} Messages posted by user:</h3>
    <ul>
    {% for message in user_message_list %}
    <li><a href="../spot/{{ message.spot_id }}">{{ message.spot_title }}</a></li>
    <p>{{ message.content }}</p>
    <hr />
    {% endfor %}
</p>
</div>

{% endblock %}>