{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}
<h1>User {{ user.username }}</h1>
<div class="content">
<small>Member since {{ user.added_at }}</small>
<p>
    {{ user_spot_list | length }} Spots posted by user:
    {% for spot in user_spot_list %}
    {% if spot.user_id == user.id %}
    <hr />
    <p>{{ spot.continent_name }} | {{ spot.country_name }}</p>
    <p><a href="../spot/{{ spot.id }}">{{ spot.title }}</a></p>
    <hr />
    {% endif %}
    {% endfor %}
</p>
<br>
<p>
    {{ user_message_list | length }} Messages posted by user:
    {% for message in user_message_list %}
    <hr />
    <p><a href="../spot/{{ message.spot_id }}">{{ message.spot_title }}</a></p>
    <p>{{ message.content }}</p>
    <hr />
    {% endfor %}
</p>
</div>
{% endblock %}>